[Plex.tv]
username = 
password = 
token = 
servername = 

[Server]
address = 
ssl = True
port = 32400

[Security]
ignore-certs = False

[Skip]
tags = intro, commercial, advertisement
last-chapter = 0.0

[Offsets]
start = 2000
end = 1000
