[Plex.tv]
username = 
password = 
token = 
servername = 

[Server]
address = 
ssl = True
port = 32400

[Security]
ignore-certs = False

[Skip]
mode = skip
tags = intro, commercial, advertisement, credits
types = movie, episode
ignored-libraries = 
last-chapter = 0.0
unwatched = True
first-episode-series = Watched
first-episode-season = Always
next = False

[Offsets]
start = 3000
end = 1000
delay = 500
tags = intro

[Volume]
low = 0
high = 100
