[Plex.tv]
username = 
password = 
token = 
servername = 

[Server]
address = 
ssl = True
port = 32400

[Security]
ignore-certs = False

[Skip]
tags = intro, commercial, advertisement
last-chapter = 0.0
first-episode-series = True
first-episode-season = True

[Offsets]
start = 3000
end = 1000
