{
    "markers": {
        "9999999": 
        [
            {
                "start": 0,
                "end": 20000
            }
        ]
    },
    "blocked": {
        "keys": [
        ],
        "parents": [
        ],
        "grandparents": [
        ]
    },
    "allowed": {
        "keys": [
        ],
        "parents": [
        ],
        "grandparents": [
        ]
    }
}
